* text=auto

*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.7z binary
*.a binary
*.bin binary
*.dll binary
*.dylib binary
*.exe binary
*.gz binary
*.lib binary
*.o binary
*.obj binary
*.parquet binary
*.pdb binary
*.pyd binary
*.rar binary
*.so binary
*.tar binary
*.tgz binary
*.whl binary
*.xz binary
*.zip binary
